// Place all the styles related to the TasksController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li a {
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
}

a {
  background-color: red;
  padding: 8px;
  border-radius: 5px;
  margin: 20px;
}

li {
  margin: 10px;
}
